@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Open+Sans|Source+Code+Pro');

/* the entities which need the display font */
html {
	font-family: "Averia Serif Libre", "Constantia", serif;
}

/* the entities which need the body font */
button {
    font-family: "Open Sans", sans-serif;
}
/* the entities which need the monospace font */

#stacked-output, #code, #repl, .current, .replStage {
	font-family: "Source Code Pro", "Consolas", monospace;
    white-space: pre-wrap;
}

html {
    background-color: #222;
    font-size: 20px;
    color: #CCC;
}

canvas {
    background: #333;
    margin: 10px;
	border: 1px solid;
}

#repl, .current, .replStage {
    color: #CCC;
    font-size: 18px;
}

.pointer {
    color: #777;
}

.result, .output {
    white-space: pre-wrap;
}

.replStage {
    background: none;
    border: none;
    height: 1.3em;
    resize: none;
    width: 90%;
}

.error *, .error { color: red !important; }

#stacked-output, #code {
    color: #CCC;
    font-size: 18px;
    margin: 10px;
    background-color: #333;
	white-space: pre-wrap;
	width: 90%;
	border: 1px solid;
	padding: 15px;
	display: block;
}

#stacked-output {
    min-height: 1.3em;
}

a { color: #AAA; }
a:hover { color: #EEE; }
header { display: block; height: 3em; }
header > h1 { float: left; display: inline; }
header > h1 > a { font-size: 0.5em; }
h1, h2, h3, h4, h5, h6 { margin: 5px; }

button, input[type="file"] {
    font-size: 18px;
    background: #444;
    color: #AAA;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    cursor: pointer;
}

button:hover {
    background: #555;
}

/* for syntax highlighting */
.number { color: rgb(255, 205, 54); }
.setfunc, .setvar { color: rgb(147, 199, 99); }
.arrayStart, .arrayEnd, .funcArrayStart, .groupStart, .mapStart { color: rgb(150, 200, 150); }
.lambdaStart, .lambdaEnd, .funcStart, .funcEnd { font-weight: bold; }
.op { color: rgb(232, 226, 183); }
.quoteFunc { color: rgb(182, 176, 133); }
.word { color: rgb(204, 204, 204); }
.string { color: rgb(236, 118, 0); }
.charString { color: rgb(255, 132, 9); }
.comment, .commentStart, .commentEnd {
    color: rgb(102, 116, 123);
    font-style: italic;
}
.whitespace { white-space: pre; }